name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build_on_mac:

    runs-on: macos-latest

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test --enable-code-coverage -v
      - name: Swift Coverage Report
        uses: L1MeN9Yu/spm-lcov-action@master
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1

  build_on_linux:

    runs-on: ubuntu-latest
    container:
      image: swift:5.8-focal
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test -v
